extends layout

block content
    div(layout="row")
        md-sidenav.md-whiteframe-z2(layout="column", md-is-locked-open="vm.sideNavOpen")
            md-toolbar.md-tall
                // TODO: User info here
            md-list
                md-list-item(href="/collection")
                    md-icon(md-svg-icon="collection")
                    span(flex) Collection
                md-list-item(href="/rangeLog")
                    md-icon(md-svg-icon="range")
                    span(flex) Range Log
        div.relative(layout="column", flex, role="main")
            md-toolbar
                div.md-toolbar-tools
                    md-button.md-icon-button(aria-label="Menu", ng-click="vm.toggleSideNav()")
                        md-icon(md-svg-icon="menu")
                    h2 fireArmory
                    span(flex)
            md-content(ng-view, flex)
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.min.js')
    script(src='/lib/angular-aria/angular-aria.min.js')
    script(src='/lib/angular-animate/angular-animate.min.js')
    script(src='/lib/angular-messages/angular-messages.min.js')
    script(src='/lib/angular-material/angular-material.min.js')
    script(src='/lib/angular-resource/angular-resource.min.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/app.js')
