extends layout

block content
    md-toolbar
        div.md-toolbar-tools
            md-button.md-icon-button(aria-label="Menu", ng-click="showMenu = !showMenu")
                md-icon(md-svg-icon="menu")
            h2 fireArmory
            span(flex)
    div(flex,layout)
        md-sidenav.md-whiteframe-z2(md-is-locked-open="showMenu")
            md-list
                md-list-item(href="/guns")
                    md-icon(md-svg-icon="collection")
                    span(flex) Collection
                md-list-item(href="/rangeLog")
                    md-icon(md-svg-icon="range")
                    span(flex) Range Log
        section(ng-view, flex)
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.min.js')
    script(src='/lib/angular-aria/angular-aria.min.js')
    script(src='/lib/angular-animate/angular-animate.min.js')
    script(src='/lib/angular-messages/angular-messages.min.js')
    script(src='/lib/angular-material/angular-material.min.js')
    script(src='/lib/angular-resource/angular-resource.min.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/app.js')
