.logo-box {
    width: 100px;
    /*margin-right: 50px;*/
}

.logo {
    width: 100%;
}

.md-fab-bottom-right {
    position: fixed !important;
}

.no-outline:focus {
    outline: none;
}

.bottom-fab-spacer {
    height: 100px;
}

.size-64 {
    height: 64px;
    width: 64px;
}

.half-black {
    color: rgba(0,0,0,0.5) !important;
}